* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.token.selector {
    color: #000000;   
}

.token.property {
    color: #000000;
}

.token.function {
    color: #000000;
}

#code {
    height: 100vh;
    overflow: hidden;
}

#paper > pre {
    padding-left:  16px;
}